{{$coverImage := or .Params.image .Params.cover .Site.Params.cover}}

{{if not $coverImage}}
<header class="main-header no-cover">
{{else if eq .Site.Params.fullCover false}}
<header class="main-header large" style="background-image: url({{$coverImage}})">
{{else}}
<header class="main-header" style="background-image: url({{$coverImage}})">
{{end}}

  {{partial "nav.html" .}}

  <div class="vertical">
    <div class="main-header-content inner">

      {{partial "social.html" .}}

      <h1 class="page-title">{{.Site.Title}}</h1>
      <h2 class="page-description">{{.Site.Params.description}}</h2>
    </div>
  </div>

  <a class="scroll-down icon-arrow-left" href="#content">
    <span class="hidden">Scroll Down</span>
  </a>

</header>

