<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
<head>
  {{ partial "meta_includes.html" . }}
  <title>
    {{ if ne .URL "/" }} {{ .Title }} &middot; {{ end }} {{ .Site.Title }}
  </title>
  {{ partial "head_includes.html" . }}
</head>
<body class="nav-closed">

  {{ partial "navigation.html" . }}

 <div class="site-wrapper">

{{ $baseurl := .Site.BaseURL }}
{{ partial "banner.html" . }}

<main class="content" role="main">
  {{ $paginator := .Paginator }}

	{{ range $index, $page := $paginator.Pages }}
	   {{ partial "li.html" . }}
	{{ end }}

	{{ partial "pagination.html" $paginator }}
</main>

{{ partial "footer.html" . }}
