{{$baseurl := .Site.BaseURL}}

<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
<head>
  {{partial "head/includes.html" .}}
</head>
<body class="nav-closed">

  {{partial "navigation.html" .}}

  <div class="site-wrapper">

    {{partial "covers/post.html" .}}

    <main class="content" role="main">
      <article class="post {{ .Section }}">
        <header class="post-header">
          <h1 class="post-title">{{.Title}}</h1>
          <small>{{.Description}}</small>

          {{partial "post_meta.html" .}}

        </header>

        <section class="post-content">
          {{.Content}}
        </section>

        <footer class="post-footer">
          {{partial "author.html" .}}
          {{partial "share.html" .}}
          {{partial "disqus.html" .}}
        </footer>
      </article>

    </main>

    {{partial "footer.html" .}}

  </div>

  {{partial "scripts.html" .}}
</body>
</html>
