{{$author := or .Params.author .Site.Params.author}}
{{if $author}}
  {{$authorDetail := index .Site.Author $author}}

  {{if $authorDetail.thumbnail}}
  <figure class="author-image">
    <a class="img" href="/author/{{$authorDetail.id}}" style="background-image: url({{$authorDetail.thumbnail}})">
      <span class="hidden">Author's Picture</span>
    </a>
  </figure>
  {{else if .Site.Params.logo}}
  <figure class="author-image">
    <a class="img" href="{{.Site.BaseURL}}" style="background-image: url({{.Site.Params.logo}})">
      <span class="hidden">Site Logo</span>
    </a>
  </figure>
  {{end}}

  <section class="author">
    <h4><a href="/author/{{$authorDetail.id}}">{{$authorDetail.firstName}} {{$authorDetail.lastName}}</a></h4>

    {{if $authorDetail.bio}}
    <p>{{$authorDetail.bio}}</p>
    {{else}}
    <p>Read <a href="{{.Site.BaseURL}}">more posts</a> from this site.</p>
    {{end}}

    <div class="author-meta">
      {{with $authorDetail.location}}
      <span class="author-location icon-location">{{.}}</span>
      {{end}}
      {{with $authorDetail.website}}
      <span class="author-link icon-link"><a href="{{.}}">{{.}}</a></span>
      {{end}}
    </div>
  </section>
{{end}}
