{{$rss_link := or .Site.Params.RSSLink .RSSLink}}
<div class="nav">
  <h3 class="nav-title">Menu</h3>
  <a href="#" class="nav-close">
    <span class="hidden">Close</span>
  </a>
  <ul>
    {{$currentNode := .}}

    {{range .Site.Menus.main}}
    {{.Pre}}
    <li class="nav-opened{{if or ($currentNode.IsMenuCurrent "main" .) ($currentNode.HasMenuCurrent "main" .)}} nav-current{{end}}" role="presentation">
      <a href="{{.URL}}">{{.Name}}</a>
    </li>
    {{end}}
  </ul>

  {{with $rss_link}}
  <a class="subscribe-button icon-feed" href="{{.}}">Subscribe</a>
  {{end}}
</div>
<span class="nav-cover"></span>
