{{$author := index .Site.Author (or .Params.author .Site.Params.author)}}
<section class="post-meta">
  {{if $author}}
    {{if $author.thumbnail}}
      <img class="author-thumb" src="{{$author.thumbnail}}" alt="Author image" nopin="nopin" />
    {{else if .Site.Params.logo }}
      <img class="author-thumb" src="{{.Site.Params.logo}}" alt="Author image" nopin="nopin" />
    {{end}}
 
    {{/* if the author as a name attribute, use it, otherwise default to using just the field
         this helps with the situation when we just want to define one author name and not have
         to create the .Site.Author structure */}}
    {{if $author.name}}
      {{$author.name}}
    {{else}}
      {{$author}}
    {{end}}
  {{end}} 
  <time class="post-date" datetime="{{.Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML}}">
    {{.Date.Format "2 Jan 2006"}}
  </time>
  {{if .Params.tags}}
    {{$baseURL := .Site.BaseURL}}
    {{range $index, $tag := .Params.tags}}
        <a href="{{$baseURL}}tags/{{$tag | urlize}}/">#{{$tag}}</a>
    {{end}}
  {{end}}
  
</section>
