{{/* if author is set on the post's params, use that, if not, check if we have an
     author configured in the Site params */}}
{{$author := or .Params.author .Site.Params.author}}

{{/* check to see if we have author details, note that we *must* perform this check
     explicitly, as the user might not have $author set and we'd get an error
     trying to use nil as the index value */}}
{{$authorDetailSet := and (.Site.Author) ($author)}}

<section class="post-meta">
  {{if $authorDetailSet}}
    {{$authorDetail := index .Site.Author $author}}
    {{with $authorDetail.thumbnail}}
    <a href="/author/{{$authorDetail.id}}">
      <img class="author-thumb" src="{{.}}" alt="Author image" nopin="nopin" />
    </a>
    {{end}}

    {{/* print the shortname (id) from the details */}}
    <a href="/author/{{$authorDetail.id}}">
    {{- $authorDetail.id -}}
    </a>
  {{else}}
    {{/* if no author details are set, just print whatever is set on the $author field */}}
    {{$author}}
  {{end}}

  <time class="post-date" datetime="{{.Date.Format "2006-01-02T15:04:05Z07:00" | safeHTML}}">
    {{.Date.Format "2 Jan 2006"}}
  </time>
  <div class="post-tag">
  {{if .Params.tags}}
    {{$baseURL := .Site.BaseURL}}
    {{range $index, $tag := .Params.tags}}
      <a href="{{$baseURL}}tags/{{$tag | urlize}}/">#{{$tag}}</a>
    {{end}}
  {{end}}
  </div>
</section>
