{{with .Site.Params}}
<div class="social">
  {{if .linkedinName}}
  <a class="icon-linkedin" href="https://www.linkedin.com/in/{{.linkedinName}}" target="_blank">
    <span class="hidden">LinkedIn</span>
  </a>
  {{end}}
  {{if .githubName}}
  <a class="icon-github" href="https://github.com/{{.githubName}}" target="_blank">
    <span class="hidden">GitHub</span>
  </a>
  {{end}}
  {{if .twitterName}}
  <a class="icon-twitter" href="https://twitter.com/{{.twitterName}}" target="_blank">
    <span class="hidden">Twitter</span>
  </a>
  {{end}}
  {{if .facebookName}}
  <a class="icon-facebook" href="https://www.facebook.com/{{.facebookName}}" target="_blank">
    <span class="hidden">Facebook</span>
  </a>
  {{end}}
  {{if .instagramName}}
  <a class="icon-instagram" href="https://instagram.com/{{.instagramName}}" target="_blank">
    <span class="hidden">Instagram</span>
  </a>
  {{end}}
  {{if .pinterestName}}
  <a class="icon-pinterest" href="https://www.pinterest.com/{{.pinterestName}}" target="_blank">
    <span class="hidden">Pinterest</span>
  </a>
  {{end}}
  {{if .googlePlusName}}
  <a class="icon-google-plus" href="https://google.com/+{{.googlePlusName}}" target="_blank">
    <span class="hidden">Google+</span>
  </a>
  {{end}}
</div>
{{end}}
