<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
<head>
  {{ partial "meta_includes.html" . }}
  <title>
    {{ if ne .URL "/" }} {{ .Title }} &middot; {{ end }} {{ .Site.Title }}
  </title>
  {{ partial "head_includes.html" . }}
</head>
<body class="nav-closed">

  {{ partial "navigation.html" . }}

  <div class="site-wrapper">
    {{ partial "banner.html" . }}

    <main id="content" class="content" role="main">

      <article class="post">
        <h1>404 Not Found</h1>
        <p>Sorry, but we couldn't find the page you're looking for.</p>
        <p>Please head back <a href="/">home</a>.</p>
      </article>

{{ partial "footer.html" . }}
