<!DOCTYPE html>
<html lang="{{.Site.LanguageCode}}">
<head>
  {{partial "head/includes.html" .}}
</head>
<body class="nav-closed">

  {{partial "navigation.html" .}}

  <div class="site-wrapper">
    {{partial "covers/paging.html" .}}

    <main class="content" role="main">
      {{if .Site.Author}}
      {{range $shortname, $author := .Site.Author}}
      <article class="post with-divider">
        <section class="author">
          {{if $author.thumbnail}}
          <div class="author-list-img" style="background-image: url({{$author.thumbnail}})"></div>
          {{end}}
          <h4><a href="/author/{{$shortname}}">{{$author.firstName}} {{$author.lastName}}</a></h4>
          {{if $author.bio}}
          <p><a href="/author/{{$shortname}}">{{$author.bio}}</a></p>
          {{else}}
          <p>Read <a href="/author/{{$shortname}}">more posts</a> by this author.</p>
          {{end}}
          <div class="author-meta">
          
          </div>
        </section>
      </article>
      {{end}}
      {{end}}
    </main>

    {{partial "footer.html" .}}

  </div>

  {{partial "scripts.html" .}}
</body>
</html>
